<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header data-trio-include="header.html" class="header"></header>
    <main>
        <nav data-trio-include="nav.html" class="nav"></nav>
        <section  data-trio-fragment class="content"></section>
    </main>
    <footer data-trio-include="footer.html" class="footer"></footer>
</body>
</html>
